@import "function";
@import "variable";

#top {
  max-height: 100vh;
  overflow: hidden;
}

.kv {
  height: 100vh;
  .kv_image {
    height: calc(100%);
    background-image: url("../img/top/top_image.png");
    background-size: cover;
    background-position: center;
  }
  .main_logo {
    @include vwHeightChange(170, 1600);
    @include vwPaddingChangeFull(60, 0, 0, 0, 1600);
  }

  .links,
  .start {
    display: flex;
    justify-content: center;
    @include vwPaddingChange(40, 0, 1600);
    a {
      display: block;
      color: white;
      @include vwMarginChange(0, 15, 1600);
      .button {
        background-color: #012573;
        @include vwWidthChange(180, 1600);
        @include vwPaddingChange(15, 0, 1600);
        border-radius: 5vw;
        text-align: center;
        @include vwFontChange(16, 1600);
      }
    }
  }
}

.form_block {
  @include vwFontChange(30, 1600);
  @include vwWidthChange(580, 1600);
  @include vwPaddingChange(30, 0, 1600);
  margin: auto;
  .input {
    display: flex;
    @include vwPaddingChange(15, 0, 1600);
    &:last-of-type {
      @include vwPaddingChange(30, 0, 1600);
    }
    input {
      border: 2px solid $navy;
      @include vwWidthChange(300, 1600);
      @include vwFontChange(20, 1600);
      @include vwPaddingChange(0, 5, 1600);
      margin: 0 0 0 auto;
      outline: none;
      color: $navy;
    }
    .form_btn {
      @include vwFontChange(24, 1600);
      @include vwWidthChange(200, 1600);
      @include vwPaddingChange(7, 0, 1600);
      @include vwMarginChange(10, 0, 1600);
      border: none;
      color: white;
      margin: auto;
      border-radius: 5vw;
      outline: none;
      cursor: pointer;
    }
  }
}
